table.birt-table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
  border-spacing: 0;
  margin-bottom: 12px;
  tr {
    td, th {
      font-size: 10pt;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 3px 5px;
      &:last-child {
        border-right: none;
      }
    }
    &:last-child td {
      border-bottom: none;
    }
    &:nth-child(odd){
      background: #FAF9F9;
    }
  }
}